@charset "UTF-8";
body {
    padding-top: 70px;
    color: #222;
    background: #FFF;
    font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif !important;
}

/* ----- 入力エラー ----- */
.input-error {
    border-color: #FF0000;
}
.title-nav {
    height: 59px;
    width: 100%;
    clear: both;
    background: #3F51B5;
    -moz-box-shadow: 3px 3px 10px #888888;
    -webkit-box-shadow: 3px 3px 10px #888888;
}

.title-nav span {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 15px;
    color: white;
}

.noscriptMessage {
    font-size: 12pt;
    line-height: 30px;
    width: 500px;
    margin: 20px;
    padding: 50px;
    display: block;
    background-color: orange;
}

.required:after{
    content:"必須";
    color:#DB8B9A;
    font-size:8px;
}

.next-page-link,
.prev-page-link,
.paging,
.current-page-number,
.nablarch_pageNumberSubmit,
.nablarch_pageNumberSubmitWrapper {
    display:inline-block;
}
.pagination {
    float:right;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
                           input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
                              textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

/* 社員 WEB 全体の横幅 */
.whole-width {
    min-width: 1200px !important;
    display: block;
}

.header {
    min-width: 1200px !important;
    display: block;
}

.navbar-brand {
    margin-left: -15px;
}

/* ヘッダにログアウトボタンを配置する際のマージン */
navbar .btn-logout {
    margin: 10px 10px;
}
